<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of Extinguisher</title>
</head>
<body>

<h1>Detail of Extinguisher:</h1>
<a th:href="@{'/'}">Home</a>
<br>
<a th:href="@{'/extinguishers/delete/' + ${extinguisher.id}}">DELETE Extinguisher</a>
<br>
<a th:href="@{'/extinguishers/edit/' + ${extinguisher.id}}">EDIT Extinguisher</a>

<br>
<br>
<b>Serial no.:</b> <span th:text="${extinguisher.serial}"></span>
<br>
<b>Expiration:</b> <span th:text="${extinguisher.expirationDate}"></span>
<br>
<b>Building:</b> <span th:text="${extinguisher?.building?.name}"></span>
<br>
<b>Producer:</b> <span th:text="${extinguisher?.producer?.name}"></span>

</body>
</html>